<!DOCTYPE html>
<html lang="en">

<head>
  <title>捕鱼圣手</title>
  <meta charset="UTF-8">
  <meta http-equiv="cache-control" content="no-cache">
  <meta name="keywords" content="游戏 捕鱼 x-men X-Men 广州艾克斯曼网络科技有限公司">
  <meta name="description" content="广州艾克斯曼网络科技有限公司">
  <meta name="msapplication-tap-highlight" content="no" />
  <meta name="renderer" content="webkit">
  <meta name="screen-orientation" content="portrait">
  <meta name="x5-orientation" content="portrait">
  <meta name="browsermode" content="application">
  <meta name="x5-page-mode" content="app">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no viewport-fit=cover">
  <meta name="format-detection" content="telephone=no, email=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="x5-fullscreen" content="true" />
  <meta name="full-screen" content="yes">
</head>

<body class="small-scroll">
  <div class="page-container" style="position: relative;">
    <div class="bg-list">
      <div class="bg-item bg_01"></div>
      <div class="bg-item bg_02"></div>
      <div class="bg-item bg_03"></div>
    </div>
    <header>
      <img class="logo" src="../app/static/img/logo.png">
      <ul class="nav-list">
        <li class="nav-item">
          <div class="to-news">
            <p>新闻资讯</p>
            <span>NEWS</span>
          </div>
        </li>
        <li class="nav-item">
          <div class="to-yxts">
            <p>游戏特色</p>
            <span>CHARACTERISTIC</span>
          </div>
        </li>
        <li class="nav-item">
          <div class="open-weixin">
            <p>微信公众号</p>
            <span>WECHAT</span>
          </div>
        </li>
        <li class="nav-item">
          <div class="open-service">
            <p>联系客服</p>
            <span>CONTACT</span>
          </div>
        </li>
        <li class="nav-item">
          <div class="about-us">
            <p>关于我们</p>
            <span>ABOUT</span>
          </div>
        </li>
      </ul>
    </header>
    <div class="js-Download">
      <!-- template inject -->
    </div>
    <!-- 新闻资讯 -->
    <div class="xwzx-title"></div>
    <div class="wxzx-content">
      <div class="left">
        <div class="swiper-container js-Swiper_01">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><a href="news.html#__NEWS?id=_5"><img src="../app/static/img/index/index_P_01.png"></a></div>
            <div class="swiper-slide"><a href="news.html#__ACTIVITIES?id=_1"><img src="../app/static/img/index/index_P_02.png"></a></div>
          </div>
          <div class="swiper-pagination" style="cursor: default"></div>
        </div>
      </div>
      <div class="right">
        <div class="js-more_news pointer"></div>
        <div class="js-newsType">
          <span class="type active">最新</span>
          <span class="type">公告</span>
          <span class="type">活动</span>
          <span class="type">攻略</span>
        </div>
        <div class="news_title_content">
          <!-- template inject -->
        </div>
      </div>
    </div>
    <div class="yxts-title"></div>
    <div class="yxts-content">
      <div class="swiper-container js-Swiper_02">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="../app/static/img/index/index_carousel_01.png"></div>
            <div class="swiper-slide"><img src="../app/static/img/index/index_carousel_02.png"></div>
              <div class="swiper-slide"><img src="../app/static/img/index/index_carousel_03.png"></div>
                <div class="swiper-slide"><img src="../app/static/img/index/index_carousel_04.png"></div>
                </div>
              </div>
              <div class="btn-swiper btn-prev"></div>
              <div class="btn-swiper btn-next"></div>
            </div>
          </div>
          <div class="js-Footer"></div>
          <div class="slide-bar-warpper">
            <div class="slide-bar">
              <span class="bar-item bar_01"></span>
              <span class="bar-item bar_02"></span>
              <span class="bar-item bar_03"></span>
              <span class="bar-item bar_04"></span>
              <span class="bar-top pointer"></span>
            </div>
          </div>
          <div class="download-mask-wrapper">
            <div class="js-Download_02"></div>
          </div>
          <div class="gzwx-mask-wrapper">
            <div class="gzwx-block">
              <img class="code" src="../app/static/img/weixin_guanzhu.jpg">
              <span class="close pointer"></span>
            </div>
          </div>
</body>

</html>